.Country-Picture-Hungary {
  transform: translate(92%);
}

.Country-Picture-England {
  left: 50%;
  transform: translate(95%);
}

body {
  padding-right: 7%;
  padding-left: 7%;
  background-color: #ffedfb;
  align-items: center;
}
